<section class="panel important">
  <h2>Welcome to NGRX Template </h2>
  <ul>
    <h3><strong>A free boilerplate with Angular Redux NGrx with store and admin template</strong></h3>
    <div class="card">
      <span class="title">By Ricardo Gellman</span>
      <li><a href="https://www.linkedin.com/in/ricardo-x/">Linkedin</a></li>
      <li><a href="https://github.com/ameagol">GitHub</a></li>
      <li><a href="https://ricardo-gellman.medium.com/">Tech Articles</a></li>
    </div>
  </ul>
</section>

<!--<section class="panel">-->
<!--  <h2>Posts</h2>-->
<!--</section>-->

<!--<section class="panel important">-->
<!--  <h2>Posts</h2>-->
<!--</section>-->
